<t:wrapper>


<div class="container">
	<h1 align="center">&nbsp;</h1>
</div>
<div class="container">
  <div class="jumbotron">

  	<form method="get" action="fillOrden">

    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">

		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">Lavado</a></h4>
		      </div>
		      <div id="collapseTwo1" class="panel-collapse collapse">
		        <div class="panel-body">

		        	
		        	<input type="hidden" name="action" value="findClients">

		        		<div class="row">
		        			<div class="col-md-3">
		        				<label for="exampleFormControlSelect1">Kilos de ropa para lavado:</label>
		        				
		        			</div>
		        			<div class="col-md-6">
		        				<input type="number" min="0" max="15" name="lavado_kilos" class="form-control"
                               aria-label="kilos de lavado">
		        			</div>
		        			<div class="col-md-3">
		        				Urgente <input class="form-check-input" type="checkbox" name="lavado_urgente" class="form-control"
                               aria-label="lavado urgente"> 
		        			</div>
		        		</div>

		        		<div id="cosas_especiales">
		        			<div class="row"> <div class="col-md-1"><input type="submit" value="-"></div> <div class="col-md-11"> Edredón... </div> </div>
		        			<br>

		        			<div class="row"> <div class="col-md-1"><input type="submit" value="-"></div> <div class="col-md-11"> Sabana... </div> </div>
		        		</div>


		        		<div class="row">
		        			<div class="col">
		        				<h4 class="col-md-12 col-md-offset-0" align="left">Especiales</h4>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-lg-2 col-md-4">
		        				<select>
									<option value="cobija">cobija</option>
									<option value="edredon">edredón</option>
									<option value="cobertor">cobertor</option>
									<option value="tenis">tenis</option>
									<option value="almoada">almoada</option>
									<option value="cortina">cortina</option>
								</select>
		        			</div>
                    		<div class="col-lg-2 col-md-4"><input type="number" min="0" name="especial_cost" class="form-control" placeholder="Costo"
                               aria-label="Costo Especial"></div>
                    		<div class="col-lg-2 col-md-4"><input type="submit" value="Agregar"></div>
		        		</div>

		        		<br>

		        		<div id="cosas_especiales_agregar">
		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Cortina... </div> </div>
		        			<br>

		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Peluches... </div> </div>
		        		</div>
		        	
		        </div>
	          </div>
      </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">Planchado</a></h4>
		      </div>
		      <div id="collapseThree1" class="panel-collapse collapse">
		        <div class="panel-body">
		        		<input type="hidden" name="action" value="findClients">
		        		<div class="row">
		        			<div class="col-md-4"></div>
		        			<div class="col-md-2">Normal</div>
		        			<div class="col-md-2">Normal (Urg)</div>
		        			<div class="col-md-2">Delicado</div>
		        			<div class="col-md-2">Delicado(Urg)</div>
		        		</div>
		        		<br>
		        		<div class="row">
		        			<div class="col-md-4">Prendas normales</div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prenor_planor" class="form-control"
                               aria-label="cantidad de pnpn"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prenor_planorurg" class="form-control"
                               aria-label="cantidad de pnpnu"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prenor_pladel" class="form-control"
                               aria-label="cantidad de pnpd"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prenor_pladelurg" class="form-control"
                               aria-label="cantidad de pnpdu"></div>
		        		</div>
						<br>
		        		<div class="row">
		        			<div class="col-md-4">Prendas largas</div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prelar_planor" class="form-control"
                               aria-label="cantidad de plpn"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prelar_planorurg" class="form-control"
                               aria-label="cantidad de plpnu"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prelar_pladel" class="form-control"
                               aria-label="cantidad de plpd"></div>
		        			<div class="col-md-2"><input type="number" min="0" max="30" name="prelar_pladelurg" class="form-control"
                               aria-label="cantidad de plpdu"></div>
		        		</div>
		        		<br>
		        		<div class="row">
		        			<div class="col">
		        				Con gancho <input class="form-check-input" type="checkbox" name="planchado_congancho" class="form-control"
                               aria-label="plancahdo con gancho"> 
		        			</div>
		        		</div>
		        </div>
	          </div>
      </div>
      		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">Tintorería</a></h4>
		      </div>


		      <div id="collapseFour1" class="panel-collapse collapse">
		        <div class="panel-body">

		        	<input type="hidden" name="action" value="findClients">

		        		<div id="cosas_tintoreria">
		        			<div class="row">
		        				<div class="col-md-2"></div>
		        				<div class="col-md-2">Cantidad</div>
		        				<div class="col-md-2">Urgente</div>
		        				<div class="col-md-6"></div>
		        			</div>

		        			<br>

		        			<div class="row">
		        				<div class="col-md-2"><input type="submit" value="-"></div>
		        				<div class="col-md-2"><input type="number" min="0" name="Tintoreria_cantidad" class="form-control" aria-label="Cantidad Tintoreria"></div>
		        				<div class="col-md-2"><input class="form-check-input" type="checkbox" name="tintoreria_urgente" class="form-control"
                               aria-label="tintoreria urgente"></div>
		        				<div class="col-md-2">Traje gris</div>
		        				<div class="col-md-2">$50</div>
		        				<div class="col-md-2">Tipo A</div>
		        			</div>

		        			<br>
		        			
		        			<div class="row">
		        				<div class="col-md-2"><input type="submit" value="-"></div>
		        				<div class="col-md-2"><input type="number" min="0" name="Tintoreria_cantidad" class="form-control" aria-label="Cantidad Tintoreria"></div>
		        				<div class="col-md-2"><input class="form-check-input" type="checkbox" name="tintoreria_urgente" class="form-control"
                               aria-label="tintoreria urgente"></div>
		        				<div class="col-md-2">Chamarra</div>
		        				<div class="col-md-2">$100</div>
		        				<div class="col-md-2">Tipo B</div>
		        			</div>

		        		</div>

		        		<div class="row">
		        			<div class="col">
		        				<h4 class="col-md-12 col-md-offset-0" align="left">Seleccion de prendas</h4>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-lg-2 col-md-3"><select>
							  <option value="camisa">camisa</option>
							  <option value="pantalón">pantalón</option>
							  <option value="saco">saco</option>
							  <option value="sueter">sueter</option>
							  <option value="corbata">corbata</option>
							  <option value="sudadera">sudadera</option>
							  <option value="chaleco">chaleco</option>
							  <option value="vestido">vestido</option>
							  <option value="chamarra">chamarra</option>
							  <option value="abrigo">abrigo</option>
							  <option value="gabardina">gabardina</option>
							  <option value="edredón normal">edredón normal</option>
							  <option value="edredón plumas">edredón plumas</option>
							  <option value="vestido de fiesta">vestido de fiesta</option>

							</select></div>
                            <div class="col-lg-2 col-md-1">Tipo</div>
                            <div class="col-lg-2 col-md-2"><select>
							  <option value="A">A</option>
							  <option value="B">B</option>
							</select></div>   
                    		<div class="col-lg-2 col-md-3"><input type="number" min="0" name="tintoreria_cost" class="form-control" placeholder="Costo" aria-label="Costo Especial"></div>
                    		<div class="col-lg-2 col-md-3"><input type="submit" value="Agregar"></div>
		        		</div>

		        		<br>

		        		<div id="cosas_especiales_agregar">
		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Traje negro $60 (Tipo A) </div> </div>
		        			<br>

		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Chamarra cafe $40 (Tipo B) </div> </div>
		        		</div>
		        </div>
	          </div>
	          
      </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">Costura</a></h4>
		      </div>
		      <div id="collapseFive1" class="panel-collapse collapse">
		        <div class="panel-body">
		        	<input type="hidden" name="action" value="findClients">

		        		<div id="cosas_costura">

		        			<div class="row">
		        				<div class="col-md-4"><input type="submit" value="-"></div>
		        				<div class="col-md-4">Servicio A</div>
		        				<div class="col-md-4"><input type="number" min="0" name="costura_cost" class="form-control" placeholder="Costo" aria-label="Costo costura"></div>
		        			</div>

		        		</div>

		        		<div class="row">
		        			<div class="col">
		        				<h4 class="col-md-12 col-md-offset-0" align="left">Seleccion de servicios</h4>
		        			</div>
		        		</div>

		        		<div class="row">
		        			<div class="col-lg-2 col-md-8"><input type="text" name="costura_servicio" class="form-control" placeholder="Nombre de servicio"
                               aria-label="Servicio Costura"></div>
                    		<div class="col-lg-2 col-md-4"><input type="submit" value="Agregar"></div>
		        		</div>

		        		<br>

		        		<div id="cosas_especiales_agregar">
		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Servico A</div> </div>
		        			<br>

		        			<div class="row"> <div class="col-md-1"><input type="submit" value="+"></div> <div class="col-md-11"> Servicio B</div> </div>
		        		</div>
		        </div>
	          </div>
      </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">Costo</a></h4>
		      </div>
		      <div id="collapseSix1" class="panel-collapse collapse">
		        <div class="panel-body">Content for Accordion Panel 3</div>
	          </div>
      </div>

    </div>
    </form>
  </div>
    </div>

